# Task1-Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [7]:
import numpy as np
import pandas as pd

random_data = np.random.randn(4, 4)


random_data

array([[ 0.04964308, -0.4143248 , -1.10697299,  0.4914573 ],
       [-1.04762167,  0.38562674, -0.34820383,  0.27015485],
       [ 0.25374555,  0.39545661,  0.75910516, -0.59024646],
       [ 0.17520433, -0.49724463,  1.78669112, -0.11356443]])

# Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [9]:
df = pd.DataFrame(random_data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.049643       -0.414325       -1.106973        0.491457
1       -1.047622        0.385627       -0.348204        0.270155
2        0.253746        0.395457        0.759105       -0.590246
3        0.175204       -0.497245        1.786691       -0.113564

# Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [10]:
ds=df.describe()
ds

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.142257       -0.032622        0.272655        0.014450
std          0.609401        0.489814        1.267251        0.474330
min         -1.047622       -0.497245       -1.106973       -0.590246
25%         -0.224673       -0.435055       -0.537896       -0.232735
50%          0.112424       -0.014349        0.205451        0.078295
75%          0.194840        0.388084        1.016002        0.325480
max          0.253746        0.395457        1.786691        0.491457

# Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [12]:
nullvalues=df.isnull().sum()
nullvalues

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

# Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [13]:
new_values=df.iloc[:, [1, 2]]
new_values

   Random value 2  Random value 3
0       -0.414325       -1.106973
1        0.385627       -0.348204
2        0.395457        0.759105
3       -0.497245        1.786691